# Dependencies
node_modules/

# Anchor / Solana build artifacts
.anchor
target/
test-ledger/
results/

# Rust
debug/
**/*.rs.bk
*.pdb
**/mutants.out*/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Misc
*.log
